body {
  font-family: "Noto Sans JP", sans-serif;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #121212;
}

.wrapper {
  max-width: 1068px;
  padding: 0 16px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  height: 45px;
}
.logo h1 {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
}
.logo img {
  width: 40px;
  margin-right: 5px;
}

header {
  z-index: 2;
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
}
header .content {
  background-color: #fff;
  height: 60px;
  padding: 0 30px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.35);
}
header .content ul {
  display: flex;
}
header .content li {
  text-transform: uppercase;
  margin-left: 40px;
}

#mainvisual {
  padding-top: 100px;
  background-color: #fef0e6;
}
#mainvisual .content {
  position: relative;
}
#mainvisual .content .text {
  width: 70%;
  text-align: center;
  padding: 100px 0;
}
#mainvisual .content .text p {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
}
#mainvisual .content .text p.subtitle {
  font-size: 20px;
}
#mainvisual .content .text .name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
}
#mainvisual .content .text .name h1 {
  font-size: 40px;
}
#mainvisual .content .text .name img {
  margin-right: 20px;
  width: 100px;
  border-radius: 70px;
}
#mainvisual .content .text ul {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
#mainvisual .content .text ul li {
  width: 200px;
  line-height: 40px;
  border-radius: 20px;
  background-color: #121212;
  font-weight: bold;
  margin-right: 40px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 1px 5px rgba(0, 0, 0, 0.12);
}
#mainvisual .content .text ul li:first-child {
  background-color: #f37625;
}
#mainvisual .content .text ul li a {
  color: #fff;
}
#mainvisual .content .mainvisual {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

#pickup {
  padding: 50px 0;
  margin-bottom: 150px;
  background-color: #fef0e6;
}
#pickup ul {
  display: flex;
  justify-content: space-between;
}
#pickup ul li {
  width: 31.5%;
}
#pickup ul img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section {
  margin-bottom: 200px !important;
}
section h2 {
  text-align: center;
  font-size: 44px;
  text-transform: uppercase;
  margin-bottom: 80px;
}
section h2 span {
  font-size: 18px;
  padding-top: 20px;
  display: block;
}

#about .content {
  display: flex;
  justify-content: space-between;
}
#about .content .profile, #about .content .skills {
  width: 48%;
}
#about .content .name {
  text-align: center;
  margin-bottom: 60px;
}
#about .content .name h1 {
  font-size: 32px;
}
#about .content .name img {
  display: inline-block;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}
#about .content h3 {
  font-size: 26px;
  padding-bottom: 20px;
  position: relative;
  margin-bottom: 40px;
}
#about .content h3::after {
  content: "";
  height: 2px;
  width: 150px;
  background-color: #121212;
  position: absolute;
  bottom: 0;
  left: 0;
}
#about .content p {
  margin-bottom: 60px;
}
#about .content a {
  color: blue;
}

#works .work {
  display: flex;
  margin-bottom: 80px;
}
#works .work img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 4px solid #121212;
  margin-right: 40px;
}
#works .work .content h3 {
  margin-bottom: 20px;
}
#works .work .content p {
  margin-bottom: 20px;
}
#works .work .content ul {
  display: flex;
}
#works .work .content li {
  margin-right: 20px;
}
#works .work .content li a {
  display: block;
  line-height: 40px;
  border: 2px solid #121212;
  width: 150px;
  text-align: center;
  font-weight: bold;
}

#contact .content {
  display: flex;
  align-items: center;
}
#contact img {
  width: 50%;
}
#contact a {
  color: blue;
  text-decoration: underline;
}

footer {
  background-color: #f7f6f4;
}
footer .content {
  padding: 80px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .content ul {
  display: flex;
}
footer .content li {
  text-transform: uppercase;
  margin-left: 40px;
}
footer .copyright {
  text-align: center;
  padding: 20px 0;
}

@media (max-width: 600px) {
  header .logo * {
    z-index: 3;
  }
  header .navbar {
    display: none !important;
  }
  header .hamburger {
    z-index: 3;
    display: block !important;
    width: 40px;
    height: 40px;
    position: relative;
  }
  header .hamburger span {
    width: 100%;
    height: 3px;
    background-color: #121212;
    position: absolute;
    left: 0;
    transition: all 0.5s 0s ease;
  }
  header .hamburger span:first-child {
    top: 7px;
  }
  header .hamburger span:nth-child(2) {
    top: 18.5px;
  }
  header .hamburger span:last-child {
    bottom: 7px;
  }
  header .hamburger.open span:first-child, header .hamburger.open span:last-child {
    top: 18.5px;
  }
  header .hamburger.open span:first-child {
    transform: rotateZ(225deg);
  }
  header .hamburger.open span:nth-child(2) {
    display: none;
  }
  header .hamburger.open span:last-child {
    transform: rotateZ(-225deg);
  }
  header nav {
    position: fixed;
    top: 20px;
    left: 16px;
    right: 16px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.35);
    padding: 90px 30px 30px;
  }
  header nav ul {
    border-top: 1px solid #121212;
  }
  header nav li {
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px;
    border-bottom: 1px solid #121212;
  }
  #mainvisual .text {
    width: 100% !important;
  }
  #mainvisual h1 {
    font-size: 32px !important;
  }
  #mainvisual .title {
    font-size: 26px !important;
  }
  #mainvisual .subtitle {
    text-align: left;
    font-weight: normal !important;
  }
  #mainvisual ul {
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
  }
  #mainvisual li {
    margin-right: 0 !important;
    margin-bottom: 20px;
    width: 300px !important;
    line-height: 60px !important;
    border-radius: 30px !important;
  }
  #mainvisual .mainvisual {
    position: static !important;
  }
  #pickup {
    display: none;
  }
  #about .content {
    display: block;
  }
  #about .profile, #about .skills {
    width: 100% !important;
  }
  #works .work {
    display: block;
  }
  #works .work img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 20px;
  }
  #contact .content {
    display: block;
  }
  #contact img {
    width: 100%;
    margin-bottom: 20px;
  }
  footer .content {
    display: block;
  }
  footer .logo {
    margin-bottom: 40px;
  }
  footer ul {
    display: block !important;
    border-top: 1px solid #121212;
  }
  footer li {
    margin-left: 0 !important;
    padding: 15px 0;
    border-bottom: 1px solid #121212;
  }
}/*# sourceMappingURL=style.css.map */